@import '../../../config-scss/rem-calc.scss';

:host{
    header{
        justify-content: center;
        text-align: center;
        display: flex;
        padding: rem-calc(40) 0;
        position: static;
        
    }
}